/* ///////////////////////////////////////////////////////////////////// 
//  04 - Cards
/////////////////////////////////////////////////////////////////////*/
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
.gr-1 {
  background: linear-gradient(170deg, #01E4F8 0%, #1D3EDE 100%);
}

.gr-2 {
  background: linear-gradient(170deg, #B4EC51 0%, #429321 100%);
}

.gr-3 {
  background: linear-gradient(170deg, #C86DD7 0%, #3023AE 100%);
}

* {
  -webkit-transition: .5s;
  transition: .5s;
}

.h-100 {
  height: 100vh !important;
}

.align-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.column {
  margin-top: 3rem;
  padding-left: 3rem;
}

.column:hover {
  padding-left: 0;
}

.column:hover .card .txt {
  margin-left: 1rem;
}

.column:hover .card .txt h1, .column:hover .card .txt p {
  color: white;
  opacity: 1;
}

.column:hover a {
  color: white;
}

.column:hover a:after {
  width: 10%;
}

.card {
  min-height: 170px;
  margin: 0;
  padding: 1.7rem 1.2rem;
  border: none;
  border-radius: 0;
  color: black;
  letter-spacing: .05rem;
  font-family: 'Oswald', sans-serif;
  -webkit-box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
          box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
}

.card .txt {
  margin-left: -3rem;
  z-index: 1;
}

.card .txt h1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.card .txt p {
  font-size: .7rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0rem;
  margin-top: 33px;
  opacity: 0;
  color: white;
}

.card a {
  z-index: 3;
  font-size: .7rem;
  color: black;
  margin-left: 1rem;
  position: relative;
  bottom: -.5rem;
  text-transform: uppercase;
}

.card a:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  width: 0;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid white;
  -webkit-transition: .5s;
  transition: .5s;
}

.card .ico-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card i {
  position: relative;
  right: -50%;
  top: 60%;
  font-size: 12rem;
  line-height: 0;
  opacity: .2;
  color: white;
  z-index: 0;
}
/*# sourceMappingURL=newStyles.css.map */